html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.background-image {
  background-image: url("./assets/images/background-image/Colored Patterns.svg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
